section div.background-section video{
    width: 100%;
    height: 100%;
    position: absolute;
}

section div.background-section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section div.box{
    width: 50%;
    position: relative;
}